<!DOCTYPE html>

<html>
<head>
    <title>Dialodue</title>
    <script>
    
    name = prompt("Привет, как тебя зовут?");
    alert('Привет, ' + name);
    ok = prompt('Как у тебя дела?');
    because = prompt('Ну и почему же у тебя все так ' + ok);
    answer = prompt('Ладно, мы будем сегодня играть?');
    wmw = prompt('Почему ' + answer);
    alert('Хорошо, давай работать');
    alert('Смотри, что я умею');
    num1 = prompt('Выбери число: ');
    num2 = prompt('Выбери число: ');
    
    SUM = parseInt(num1, 10) + parseInt(num2, 10);
    alert(SUM);
    v = prompt('А твой калькулятор так может?');
    whate = prompt('Потому что я лучше, чем калькулятор!');
    
    </script>
    
</head>
</html>
