<!DOCTYPE html>

<html>
<head>
    <title>Dialodue</title>
    <script>
    
    name = prompt("Привет, как тебя зовут?");
    alert('hello,' + name);
    ok = prompt('how are you?');
    because = prompt('why are you so' + ok);
    answer = prompt('ok, will we play today?');
    wmw = prompt('why' + answer);
    alert('ok, lets work');
    alert('look, what i can do');
    num1 = prompt('choose a number: ');
    num2 = prompt('choose a number: ');
    
    SUM = parseInt(num1, 10) + parseInt(num2, 10);
    alert(SUM);
    v = prompt('can your calculator do the same?');
    whate = prompt('because im better, than calculator!');
    alert('i dont know, because i must watch youtube and learn more about me.');
    
    </script>
    
</head>
</html>
